*{
    margin:0px;
    padding:0px;
}
body{
    background:url(../img/pattern.jpg)
}
header{
    height:50px;
    width: 100%;
    background: white;

}
nav ul{
    margin-top: -40px;

}
nav ul li{
    list-style-type: none;
}
nav ul a {
    display:flex;
    float:left;
    margin-right: 15px;
    text-decoration: none;;
}
nav ul a:nth-child(1){
    margin-left: 750px;
}
section{
    height:auto;
    width:80%;
    margin:0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    padding: 50px 5px 5px 5px;
}
section h1{
    text-align: center;
    margin-bottom:50px;

}
hr{
    margin-bottom:20px;
}
footer{
    height:40px;
    width:100%;
    background: black;
    color:white;
    text-align: center;
    padding-top:20px;
}